# Terraform state files (DO NOT COMMIT)
*.tfstate
*.tfstate.backup
terraform.tfstate.d/
dev-private.tfvars

# Terraform plan files
*.tfplan

# Local Terraform settings
.terraform/
.terraform.lock.hcl

# Variables file (if containing sensitive data)
terraform.tfvars
*.auto.tfvars

# Crash logs (if Terraform crashes)
crash.log

# Ignore editor and OS-specific files
.vscode/
.idea/
.DS_Store
Thumbs.db
